@import "arcgis-build";

/* override */

.btn {
  margin: 0;
}

/* header */

#header {
  border-bottom: none;
  overflow: hidden;
  height: 92px;
  min-height: 0;
  position: relative;
  z-index: 100;

  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

#header .container {
  padding: 0 10px;
  max-width: none;
}

#header .row:first-child {
  border-bottom: 1px solid #ddd;
  margin-bottom: 7px;
}

#header h1 {
  font-size: 1.5em;
  margin-top: .5em;
}

#header .links .btn {
  margin-top: .75em;
}

/* code, output */

#ace {
  background: #fff;
}

#code, #output {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
}

#code {
  background: #fff;
  min-width: 550px;
  border-right: 1px solid #ccc;
  left: 0;
  right: 45%;
}

#editor {
  background: #fff;
  position: absolute;
  top: 98px;
  left: 10px;
  right: 10px;
  bottom: 30px;
  border: 1px solid #ddd;
}

#output {
  overflow: hidden;
  left: 55%;
  right: 0;
}

#loader {
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: 100;
}

#sandbox {
  background: #fff;
  border: 0;
  height: 100%;
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#footer-links,
#footer-legal {
  line-height: 1em;
  padding-bottom: 10px;
}

#footer-links {
  padding-left: 10px;
  padding-right: 0;
  display: block;
  float: left;
}

#footer-legal {
  clear: none;
  float: right;
  margin-top: 0;
  padding-left: 0;
  padding-right: 10px;
  width: auto;
}

/* resize handle */

#handle {
  background: url(../images/handle.png) center center no-repeat;
  cursor: ew-resize;
  width: 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.resizing #handle {
  margin-left: 100px;
  margin-right: 500px;
  right: -500px;
  z-index: 500;
}

.resizing #sandbox {
  position: relative;
  z-index: -1;
}

/* sidebar */

#sidebar {
  display: none;
}

.minimized #sidebar {
  display: block;
}

#sidebar .btn {
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
  padding: 0.3em 0 .2em;
  text-align: center;
  width: 32px;
}

.minimized #code {
  border-bottom: 1px solid #ddd;
  min-width: 0;
  width: 42px;
  right: auto;
  z-index: 2;
}

.minimized #code #editor,
.minimized #code #handle,
.minimized #code #header,
.minimized #code footer {
  display: none;
}

.minimized #output {
  left: 43px;
  z-index: 1;
}
